<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="beanPostProcessor" class="org.airyny.spring.learn.bean.live.pojo.BeanPostProcessorImpl"/>

    <bean id="disposableBean" class="org.airyny.spring.learn.bean.live.pojo.DisposableBeanImpl"/>

    <bean id="source" class="org.airyny.spring.learn.bean.live.pojo.Source">
        <property name="fruit" value="橙汁"/>
        <property name="sugar" value="少糖"/>
        <property name="size" value="大杯"/>
    </bean>

    <bean id="juiceMaker2" class="org.airyny.spring.learn.bean.live.pojo.JuiceMaker2"
          init-method="init" destroy-method="destory">
        <property name="beverageShop" value="一丢丢"/>
        <property name="source" ref="source"/>
    </bean>

    <bean id="constructorBean" class="org.airyny.spring.learn.bean.live.pojo.ConstructorBean">
        <constructor-arg index="0" value="sss"/>
    </bean>

    <bean id="setterBean" class="org.airyny.spring.learn.bean.live.pojo.SetterBean">
        <property name="setterBeanName" value="set注入"/>
        <property name="setterNote" value="这是set注入"/>
    </bean>

    <bean id="interfaceBean" class="org.airyny.spring.learn.bean.live.pojo.InterfaceBean">
        <property name="name" value="这是一个接口注入类"/>
        <property name="source" ref="source"/>
    </bean>
</beans>