<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/task
   http://www.springframework.org/schema/task/spring-task.xsd">


    <!-- 创建自己的业务线程池处理器 -->
    <task:executor id="myExecutor" pool-size="5"/>

    <!-- 开启Async 注解的解析 -->
    <task:annotation-driven executor="myExecutor"/>

    <!-- 注入业务Bean -->
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5"/>
        <property name="maxPoolSize" value="10"/>
        <property name="keepAliveSeconds" value="60"/>
        <property name="queueCapacity" value="20"/>
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy">

            </bean>
        </property>
        <property name="waitForTasksToCompleteOnShutdown" value="true"/>

    </bean>


    <bean id="asyncExecutorExample" class="org.airyny.sync.service.AsyncExecutorExample">
        <property name="taskExecutor" ref="taskExecutor"/>
    </bean>


</beans>