<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
<log4j:configuration>
    <!--输出到控制台-->
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="encoding" value="UTF-8" />
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p  [%X{req.id}] [%t] [%C:%L] : %m%n"/>
        </layout>

    </appender>

    <!--输出到文件（info）-->
    <!--将生成“info.log.2014-06-11”这样的日志文件-->
    <appender name="fileAppenderInfo" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <param name="File" value="logs/public.log" />
        <param name="DatePattern" value=".yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p][%d{yyyyMMdd HH:mm:ss,SSS}]  [%X{req.id}] [%t] [%C:%L] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="INFO" />
        </filter>
    </appender>

    <!--输出到文件（debug）-->
    <appender name="fileAppenderDebug" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <param name="File" value="logs/public-debug.log" />
        <param name="DatePattern" value=".yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p][%d{yyyyMMdd HH:mm:ss,SSS}]  [%X{req.id}] [%t] [%C:%L] %m%n"/>
        </layout>

        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
            <param name="LevelMax" value="DEBUG" />
        </filter>
    </appender>

    <!--输出到文件（warn）-->
    <appender name="fileAppenderWarn" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <param name="File" value="logs/public-warn.log" />
        <param name="DatePattern" value=".yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p][%d{yyyyMMdd HH:mm:ss,SSS}]  [%X{req.id}] [%t] [%C:%L] %m%n"/>
        </layout>

        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN" />
            <param name="LevelMax" value="WARN" />
        </filter>
    </appender>

    <!--输出到文件（error）-->
    <appender name="fileAppenderError" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <param name="File" value="logs/public-error.log" />
        <param name="DatePattern" value=".yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p][%d{yyyyMMdd HH:mm:ss,SSS}]  [%X{req.id}] [%t] [%C:%L] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR" />
            <param name="LevelMax" value="ERROR" />
        </filter>
    </appender>

    <!--输出到文件（error）-->
    <appender name="socketAppender" class="org.apache.log4j.net.SocketAppender">
        <param name="encoding" value="UTF-8" />
        <param name="remoteHost" value="127.0.0.1" />
        <param name="port" value="4567" />
        <param name="LocationInfo" value="true" />
    </appender>


    <!--输出到文件（error）-->
    <appender name="springAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <param name="File" value="logs/public-monitor.log" />
        <param name="DatePattern" value=".yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p][%d{yyyyMMdd HH:mm:ss,SSS}]  [%X{req.id}] [%t] [%C:%L] %m%n"/>
        </layout>
    </appender>

    <!--屏蔽所有org.springframework.*输出的Debug（及以下）信息-->
    <logger name="org.springframework">
        <level value="INFO"></level>
    </logger>

    <logger name="org.apache.zookeeper">
        <level value="INFO"></level>
    </logger>

    <logger name="com.alibaba.dubbo">
        <level value="INFO"></level>
    </logger>

    <logger name="org.quartz.core.QuartzSchedulerThread">
        <level value="INFO"></level>
    </logger>
    <logger name="org.apache.curator.framework">
        <level value="INFO"></level>
    </logger>
    <logger name="com.dangdang.ddframe.job.lite">
        <level value="INFO"></level>
    </logger>


    <!--  打印日志到固定的文件中WATCHTASK 选择自定义的日志级别设置 -->
    <category name="com.common.dubbo.DubboTransactionFilter" additivity="false">
        <priority value="debug"/>
        <appender-ref ref="springAppender"/>
    </category>




    <root>
        <level value="ALL"/>
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppenderInfo" />
        <appender-ref ref="fileAppenderWarn" />
        <appender-ref ref="fileAppenderError" />
        <appender-ref ref="fileAppenderDebug" />
        <!--<appender-ref ref="socketAppender" />-->

    </root>
</log4j:configuration>